<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlets.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCopyOfBook</servlet-name>
        <servlet-class>servlets.AddCopyOfBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPublisher</servlet-name>
        <servlet-class>servlets.AddPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlets.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>servlets.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCopyOfBook</servlet-name>
        <servlet-class>servlets.DeleteCopyOfBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>servlets.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePublisher</servlet-name>
        <servlet-class>servlets.DeletePublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlets.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeCopy</servlet-name>
        <servlet-class>servlets.TakeCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplaceCopy</servlet-name>
        <servlet-class>servlets.ReplaceCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBook</servlet-name>
        <servlet-class>servlets.ChangeBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCopyOfBook</servlet-name>
        <servlet-class>servlets.ChangeCopyOfBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePublisher</servlet-name>
        <servlet-class>servlets.ChangePublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUser</servlet-name>
        <servlet-class>servlets.ChangeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPublisher</servlet-name>
        <servlet-class>servlets.ExportPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportPublisher</servlet-name>
        <servlet-class>servlets.ImportPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportOnePublisher</servlet-name>
        <servlet-class>servlets.ExportOnePublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportCopy</servlet-name>
        <servlet-class>servlets.ExportCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportCopy</servlet-name>
        <servlet-class>servlets.ImportCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportOneCopy</servlet-name>
        <servlet-class>servlets.ExportOneCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportUser</servlet-name>
        <servlet-class>servlets.ExportUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportUser</servlet-name>
        <servlet-class>servlets.ImportUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportOneUser</servlet-name>
        <servlet-class>servlets.ExportOnePublisher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCopyOfBook</servlet-name>
        <url-pattern>/AddCopyOfBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPublisher</servlet-name>
        <url-pattern>/AddPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCopyOfBook</servlet-name>
        <url-pattern>/DeleteCopyOfBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePublisher</servlet-name>
        <url-pattern>/DeletePublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeCopy</servlet-name>
        <url-pattern>/TakeCopy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplaceCopy</servlet-name>
        <url-pattern>/ReplaceCopy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBook</servlet-name>
        <url-pattern>/ChangeBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCopyOfBook</servlet-name>
        <url-pattern>/ChangeCopyOfBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePublisher</servlet-name>
        <url-pattern>/ChangePublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUser</servlet-name>
        <url-pattern>/ChangeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPublisher</servlet-name>
        <url-pattern>/ExportPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportPublisher</servlet-name>
        <url-pattern>/ImportPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportOnePublisher</servlet-name>
        <url-pattern>/ExportOnePublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportCopy</servlet-name>
        <url-pattern>/ExportCopy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportCopy</servlet-name>
        <url-pattern>/ImportCopy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportOneCopy</servlet-name>
        <url-pattern>/ExportOneCopy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportUser</servlet-name>
        <url-pattern>/ExportUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportUser</servlet-name>
        <url-pattern>/ImportUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportOneUser</servlet-name>
        <url-pattern>/ExportOneUser</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
